/* 
    CSS: Estilos generales para toda la pagina
    Autor: Juan
    Fecha de creacion: 10/01/2024
 */ 


 
/* ---------- COLORES GLOBALES ---------- */
:root {
    --color-primario: #0F70B7;
    --color-primario-resaltado: #1c8edf;
    --color-primario-opaco: #174c72;
}



/* ---------- MENU ---------- */
.Menu{
    & .mincyt{
        background-color: #FFFFFF;
        
        & .imgMincyt{
            max-height: 50px;
            display: flex;
            margin: 0 auto;
        }
    }

    & .fondo-azul{
        width: 100%;
    }

    & .tepuy{
        position: absolute;
        left: 100px;
        padding: 15px;
        margin-top: 1%;
        width: 40%;
        animation: aparecerIzquierda 1s ease-out;
    }

    & .educacion{
        right: 0;
        position: absolute;
        margin-top: 13%;
        width: 40%;
        animation: aparecerDerecha 1s ease-out;
    }

}

@keyframes aparecerIzquierda {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
} 

@keyframes aparecerDerecha {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
} 

/* ---------- ESTADISTICAS Y FILTROS ---------- */
.Estadisticas-contenedor {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    box-shadow: 0 0 1px rgba(0,0,0,.125), 0 1px 3px rgba(0,0,0,.2);
    border-radius: 5px;        
    
    & .boton{
        padding: 7px;
        border-radius: 5px;
        margin-top: 10px;
        color: rgb(255, 255, 255);
        background-color: var(--color-primario);
        border-style: none;
    }

    & .boton:hover {
        background-color: var(--color-primario-resaltado)
    }
    & .boton:active {
        background-color: var(--color-primario-opaco)
    }

    & .filtros-secundarios{
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        justify-items: stretch;
        align-items: start;
        column-gap: 21px;
        row-gap: 11px;
        margin-top: 10px;
    }
}



/* ---------- BARRA DE BUSQUEDA ---------- */
.Barra-busqueda-contenedor{
    & .barra-boton{
        display: flex;
    }
    
    & .sugerencias{
        position: absolute;
        height: auto;
        max-height: 300px;
        top: 50px;
        /* left: 50px;  */
        z-index: 999; /* Establece un índice de apilamiento alto para asegurar que esté sobre otros elementos */
        background-color:#fff;
        padding: 10px;
        color: #000;
        list-style-type: none;
        overflow-y: auto;
    }

    & .sugerencias li:hover{
        background-color: rgb(136, 174, 174);
        color: #000;
    }
}



/* ---------- MAPA ---------- */
#map {
    height: 600px;
    width: 100%;
    border-radius: 10px;
    background-color: #fafafa;
    color: rgba(0, 140, 255, 0.007)
}

#mapa_columna {
    user-select: none;
}

.Mapa-Panel-contenedor {
    background-color: rgb(255, 255, 255);
    margin-top: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0 0 1px rgba(0,0,0,.125), 0 1px 3px rgba(0,0,0,.2);
    border-radius: 5px;
}



/* ---------- ETC ---------- */
.cintillo{
    box-shadow: 01px 0px 10px 1px rgba(0,0,0,0.5);
    background-color: var(--color-primario);
    text-align: center;
    font-size: 38px;
    color: rgb(255, 255, 255);
    margin: 20px auto;
    padding: 40px;
    width: 100%;
    font-weight: 500;
}

.container {
    width: 100%;

    ::-webkit-scrollbar  {
        width: 5px;

    }
    ::-webkit-scrollbar-track  {
        background: #f1f1f1; 
    }
    ::-webkit-scrollbar-thumb  {
        background: var(--color-primario);
    }
    ::-webkit-scrollbar-thumb:hover  {
        background: #2173df;
    }
}

body{
    background-color: #f3f3f3;
    font-family: Arial, Helvetica, sans-serif;  
}

.select {
    width: 100%;
    height: 30px;
    background: rgb(255, 255, 255);
    border-radius: 5px;
    border: 30px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(209, 209, 209);
    height: 40px;
}

.select:disabled {
    background: rgb(212, 212, 212);
}

hr {
    background-color:black;
}

path.leaflet-interactive{
    outline: none;
}

.leaflet-legend-contents {
    color: #000;
}

.titulo-graph{
    display: flex;
    justify-content: center;
    align-items: center;
}

[id*="contenedor-graph"] {
     margin-left: 145px;
}
/* [id*="grafica"] {
     width: 500px;
     height: 300px;
} */

[id*="panel-Graph-"] {
    margin-left: 65px;
    padding: 10px;
}

.row{
    display: flex;
    justify-content: center;
    align-items: center;
}