/* 
    CSS: Estilos para el panel de informacion
    Autor: Juan
    Fecha de creacion: 09/12/2023
 */



/* ---------- BOTON ALTERNAR PANEL ---------- */
#contenedor_boton_alternar {
    padding: 6px;
    background: rgb(255, 255, 255);
    border-style: solid;
    border-radius: 5px;
    border-width: 3px;
    border-color:rgb(151, 151, 151);
    width: 50px;
    height: 50px;
    cursor: pointer;

    & .boton-alternar-icono {
        width: 100%;
        cursor: pointer;
    }
}

#contenedor_boton_alternar:hover {
    background: rgb(226, 226, 226);
}



/* ---------- PANEL ---------- */
.Panel-contenedor {
    width: 100%;
    max-width: 800px;
    overflow-y: scroll;
    overflow-Y: 'hidden';
    overflow-x: hidden;
    height: 600px;

    /* ---------- PORTADA ---------- */
    & .portada-nombre {
        margin-top: 10px;
        text-align: left;       
    }

    & .portada-tipo {
        font-size: 14px;
        color: #4b4b4b;
        text-align: left;  
    }

    & .portada-fachada {
        text-align: center;
        border-radius: 10px;
        width: 98%;
    }

    & hr {
        width: 95%;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    /* ---------- BOTONES CATEGORIAS ---------- */
    & .categoria {
        border-color: transparent;
        background-color: transparent;
        font-size: 16px;
        width: 100%;
        padding: 5px;
        margin-bottom: 0px;
        color: #4b4b4b;
    }

    & .categoria:hover {
        border-bottom-color: #999;
        color: #1a1a1a;
    }

    & .categoria:focus {
        border-bottom-color:var(--color-primario);
        color: var(--color-primario);
    }

    & .encabezado {
        display: block;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 15px;
        padding: 5px;
        font-size: 18px;
        border-bottom: var(--color-primario);
        border-bottom-style: solid;
    }

    /* ---------- CATEGORIA INFORMACION ---------- */
    #categoria_informacion {
        font-size: 14px;
        text-align: justify;
    }    

    & .logo {
        display: flex;
        margin: 0 auto;
        width: 180px;
    }

    & .autoridad-foto  {
        display: flex;
        margin: 0 auto;
        width: 150px;
        height: 150px;
        border-radius: 100%;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    & .autoridad-nombre {
        text-align: center;
        font-size: 18px;
        font-weight: 800;
        background-color: #ebebeb;
        padding: 5px 10px 10px 5px;
    }

    & .autoridad-cargo {
        text-align: center;
        font-size: 16px;
        margin-bottom: 5px;
        font-weight: 600;
    }

    & .autoridad-reseña {
        text-align: justify;
    }

    & .autoridad-fichaTecnica {
        text-align: center;
    }
    
    & .autoridad-hr {
        width: 95%;
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    & #panel_informacion {
        height: auto;
        display: block;
        animation: aparecerDesdeArriba 0.5s ease-out;
    }
}



/* ---------- BOTON RESTABLECER MAPA ---------- */
.contenedor-boton-restablecer  {    
    padding: 2px 2px;
    background: rgb(255, 255, 255);
    border-style: solid;
    border-radius: 5px;
    border-width: 3px;
    border-color:rgb(151, 151, 151);
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.contenedor-boton-restablecer:hover  {    
    background: rgb(226, 226, 226);
}



/* ---------- ANIMACIONES ---------- */
@keyframes aparecerDesdeArriba  {
    from  {
        transform: translateY(-100%);
    }

    to  {
        transform: translateY(0);
    }
}